<nav>
  <ul>
    <li><a routerLink="/first">Primera Ruta</a></li>
    <li><a routerLink="/second">Segunda Ruta</a></li>
    <li><a routerLink="/third">Tercera Ruta</a></li>
    <li><a routerLink="/basic-form">Formulario Basico</a></li>
    <li><a routerLink="/basic-comunication">Comunicacion Basica</a></li>    
    <li><a routerLink="/person-form">Formulario de personas</a></li>    
    <li><a routerLink="/photos">Album de fotos</a></li>  
    <li><a routerLink="/task">Mantenimiento de Tareas</a></li> 
    <li><a routerLink="/time">Reloj</a></li> 
    <li><a routerLink="/basic-reactive-form">Formulario Reactivo</a></li> 
    <li><a routerLink="/stepper">Pasos</a></li>    
    <li><a routerLink="/material-task">Tareas con Material</a></li>  
    <li><a routerLink="/grandFather">Comunicacion Entre Componentes Avanzado</a></li>     
  </ul>
</nav>

<router-outlet></router-outlet>